src/Makefile
src/.deps
src/.deps/Circle.Po
src/.deps/Game.Po
src/.deps/Item.Po
src/.deps/ItemCollection.Po
src/.deps/Main.Po
src/.deps/Square.Po
src/Game.o
src/ItemCollection.o
src/Item.o
src/Square.o
src/Circle.o
src/Physics.o
src/Main.o
src/mygame
config.log
config.status
Makefile
debian/mygame
autom4te.cache/
